@font-face {
    font-family: "myfont";
    src: url("BebasNeue-Regular.ttf");
}

h1 {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "myfont", system-ui;
    font-weight: 400;
    font-style: normal;
}